@media only screen and (min-width:200px) and (max-width:575px){
        .btn-outer{
            position: fixed;
            bottom: 0px;
            width: 100%;
            left: 0;
            background: white;
            padding: 5px 0px;
            justify-content: center !important;
        }
        .whatsappbtn,.call{
            padding: 7px 15px;
            font-size: 14px;
            
        }
        .bannercontent h1{
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            line-height: 35px;
           
        }
        .bannercontent br{
            display: none;
        }
        .bannercontent ul li span{
            text-wrap: wrap;
        }
        .bannercontent ul li{
            white-space: nowrap;
        }
        .bannercontent p,.bannercontent ul li {
            font-size: 16px;
        }
        .bannercontentbtn{
            flex-direction: column;
        }
        .bannercontentbtn button{
            width: 100%;
        }
        .bannerform{
        padding: 20px;
        }
        .highlight-section h2{
        font-size: 28px;
        }
}

@media(min-width:1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        max-width: 1170px;
    }
}

        
    
